{% extends "base/base.html" %}


{% block title %}

Карточка детали

{% endblock %}


{% block content %}


<h1>

Карточка детали

</h1>


<h2>

{{detail.name}}

</h2>


Артикул:

{{detail.article}}

<br>

Чертёж:

{{detail.drawing_number}}

<br>

Статус:

{{detail.status}}

<br>


<h3>

Готовность

</h3>


<b>

{{detail.completion_percent}} %

</b>


<br><br>


<button>

Пересчитать готовность

</button>



<h3>

Этапы

</h3>


<table border="1">


<tr>

<th>

№

</th>

<th>

Этап

</th>

<th>

Станок

</th>

<th>

Выполнен

</th>

</tr>



{% for stage in stages %}


<tr>

<td>

{{stage.order_num}}

</td>


<td>

{{stage.stage_type}}

</td>


<td>

{{stage.machine}}

</td>


<td>

{{stage.is_completed}}

</td>


</tr>


{% endfor %}


</table>



{% endblock %}